.footer-wrapper {
    background-color: #000000;
}

.footer-container {
    margin: 0 auto;
    min-width: 320px;
    width: calc(100% - 20px);
    padding: 0 10px;
    @media (min-width: 769px) {
      min-width: 769px;
      width: calc(100% - 30px);
      padding: 0 15px;
    }
  }

  .footer__title {
    @include title-format-mobile;
    text-align: center;
    color: #FEFEFE;
    margin: 0;
    padding: 38px 0 8px;
    @media (min-width: 769px) {
        padding: 57px 0 22px;
        @include title-format-not-mobile;
    }
    @media (min-width: 1200px) {
        padding: 66px 0 22px;
    }
}

.footer__text {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #B9B9B9;
    margin: 0;
    padding: 0 42px;
    @media (min-width: 769px) {
        font-size: 16px;
        line-height: 28px;
    }
}

.footer__icons {
    @include flex-center;
    padding: 26px 0 25px;
}

.icon__item {
    position: relative;
}

.icon-item__inner {
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 7.5px);
}

.footer__contacts {
    @include flex-center;
    flex-direction: column;
    font-size: $primary-font-size;
    line-height: 24px;
    text-align: center;
    color: #B9B9B9;
    padding-bottom: 47px;
    @media (min-width: 769px) {
        flex-direction: row;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 56px;
    }
    @media (min-width: 1200px) {
        padding-bottom: 70px;
    }
}