.main-img {
    margin: 0 auto;
    text-align: center;
    @media (max-width: 768px) {
        margin-bottom: 38px;
    }
    @media (min-width: 769px) {
        margin-bottom: 56px;
    }
    @media (max-width: 1200px) {
        margin-bottom: 66px;
    }
}