
*,
::after,
::before{
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
}

.page-wrapper {
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFFFFF;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    width: 236px;
    padding: 18px 0 18px 79px;
}

.logo__text {
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    vertical-align: middle;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.header__menu {
    display: flex;
    align-items: center;
    position: relative;
}

.header__menu__item {
    padding: 0 13px;
}

.header__menu__item:last-child {
    padding: 0 79px 0 39px;
}

.header__menu__item:last-child::before {
    content: '';
    position: absolute;
    bottom: 4.5px;
    right: 277px;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header__menu__item__text {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.logo__text,
.header__text__link,
.title_log_in {
    transition: color 0.5s;
}

.logo__text:hover,
.header__text__link:hover {
    color: #3CB878;
}

.icon-outline {
    transition: fill 0.5s;
}

.icon:hover .icon-outline {
    fill: #3CB878;
}

.form-container {
    min-height: calc(100vh - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form {
    width: 444px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.inner-container {
    width: 324px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 12px;
}

.title_sign_up {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #434343;
}

.title_log_in {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.title_log_in:hover {
    color: #01813F;
}

.title::before {
    content: '';
    position: absolute;
    top: 29px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px; 
}

.button {
    display: flex;
    position: relative;
    border-radius: 4px;
    align-items: center;
    border: none;
    padding: 0;
}

.button--1 {
    background-color: #305DB8;
}

.button--1,
.button--2,
.form-input:last-child {
    transition: background-color 0.5s;
}

.button--1:hover {
    background-color: #022263;
}

.button--2 {
    background-color: #DF4A32;
}

.button--2:hover {
    background-color: #AB1F09;
}

.button--1__img {
    object-fit: contain;
    padding-left: 16.7px;
}

.button--2__img {
    object-fit: contain;
    padding-left: 12px;
}

.button_text {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.button--1_text {
    padding: 16px 22px 16px 39.8px;
}

.button--2_text {
    padding: 16px 28px 16px 39px;
}

.button_text::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 49px;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
}

.or {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    position: relative;
    justify-content: center;
    color: #848484;
}

.or::before {
    content: '';
    position: absolute;
    bottom: 5.5px;
    left: 0;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.or::after {
    content: '';
    position: absolute;
    bottom: 5.5px;
    right: 0;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.form-input {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 14.5px 0 14.5px 20px;
    margin-top: 14.5px;
}

.form-input:first-of-type {
    margin-top: 11px;
}

.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form-input:last-child {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 38px;
}

.form-input:last-child:hover {
    background-color: #01813F;
}

.form-checkbox {
    margin: 12px 4.4px 0 0;
}

.checkbox__text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.checkbox__text--color {
    color: #3CB878;
}

.checkbox__text--color:hover {
    text-decoration: underline;
    color: #01813F;
}

.form-label-checkbox {
    margin-top: 12px;
}

.form-checkbox:checked, 
.form-checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-checkbox:checked + .form-label-checkbox, 
.form-checkbox:not(:checked) + .form-label-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.form-checkbox:checked + .form-label-checkbox::before, 
.form-checkbox:not(:checked) + .form-label-checkbox::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: rgba(0, 0, 0, 0.0001);
}

.form-checkbox:checked + .form-label-checkbox::after, 
.form-checkbox:not(:checked) + .form-label-checkbox::after {
    content: "\2713";
    position: absolute;
    left: 4px;
    top: 1px;
    transform: scale(1.3, 1.3);
    color: #01813F;
    font-weight: 900;
}

.form-checkbox:not(:checked) + .form-label-checkbox::after {
    opacity: 0;
}

.form-checkbox:checked + .form-label-checkbox::after {
    opacity: 1;
}