.Header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 5px 20px;
    background-color: rgba(228,220,220, 0.7);
    position: fixed;
    top: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}