*,
::after,
::before{
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-container {
    margin: 0 auto;
    font-family: $font-stack;
    min-width: 320px;
    background-color: $primary-bg-color;
}

.container {
    margin: 0 auto;
    min-width: 320px;
    padding: 0 10px;
    @media (min-width: 768px) {
      min-width: 768px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }
