.instargam {
    @media (min-width: 768px) {
        background-color: rgba(0, 0, 0, 0.03);
    }
    &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    @media (min-width: 768px) {
        padding-top: 47px;
    }
    }
    &__img-wrapper {
        display: flex;
        padding: 13px 0 42px;
        @media (min-width: 768px) {
            justify-content: center;
            padding: 35px 0 50px;
        }
        @media (min-width: 1200px) {
            padding: 24px 0 49px;
        }
    }
}

.inst__title {
    @include title-format-mobile;
    @media (min-width: 768px) {
        @include title-format-not-mobile;
    }
    color: #4E4E4E;
    margin: 0;
}

.inst__text {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
    @media (max-width: 767px) {
        display: none;
    }
}

.inst-img__item {
    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 788px) {
        padding: 0 5px;
    }
    &:first-child {
        display: block;
    }
    &:last-child {
        @media (max-width: 1199px) {
            display: none;
        }
    }
}