@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-format-mobile {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

@mixin title-format-not-mobile {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }