.recent-posts__title {
    @include title-format-mobile;
    @media (min-width: 768px) {
        @include title-format-not-mobile;
    }
    color: #4E4E4E;
    margin: 0;
}

.recent-posts__items {
    display: flex;
    flex-direction: column;
    padding-bottom: 39.5px;
    @media (min-width: 768px) {
        padding-bottom: 60px;
    }
    @media (min-width: 1200px) {
        padding-bottom: 69px;
        max-height: 500px;
        flex-wrap: wrap;
    }
}

.post-items-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    @media (min-width: 768px) {
        flex-direction: row;
        padding-top: 32px;
    }
    &:last-child {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.post-items__img {
    padding-top: 28.5px;
    padding-right: 21px;
    &:first-child {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .post-items__content {
        width: 404px;
    }
}

.content__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #4E4E4E;
    margin: 0;
    @media (min-width: 768px) {
        font-size: 16px;
    }
    @media (max-width: 767px) {
        padding-top: 11px;
    }
}

.content__content {
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
    @media (min-width: 768px) {
        font-size: 12px;
        padding-bottom: 13px;
    }
}

.content__text {
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    @media (max-width: 767px) {
        display: none;
    }
}