ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Main {
    margin-top: 80px;
    padding: 10px 100px 0;
}

.listItemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 50px 80px;
    justify-content: center;
}