/* BEGINNING of RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ENDING of RESET CSS */

.page-container {
    max-width: 1280px;
    font-family: Montserrat;
}

.container {
    max-width: 620px;
    /* max-width: 668px; */
    margin: 31.5px auto;
}

a {
    text-decoration: none;
}

.main-menu {
    display: inline-block;
    vertical-align: middle;
}

.main-menu-item {
    display: inline-block;
    vertical-align: middle;
}

.main-menu-link {
    display: block;
    /* vertical-align: middle;  */
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    text-transform: uppercase;
    padding-right: 56px;
}

.main-menu-link-last {
    display: block;
    /* vertical-align: middle;  */
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    text-transform: uppercase;
}

.main-container {
    align-content: center;
    color: #373737;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 48px 253px 0;
    font-size: 22px;
    letter-spacing: 3.3px;
}

.section-container-item {
    margin: 38px 67.5px 0;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}

.get-statred {
    width: 191px;
    margin: 66px auto 42px;
    background-color: #FF0000;
    border-radius: 4px;
    height: 51px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.get-started-vermiddle {
   display: inline-block;
   vertical-align: middle;
   height: 100%;
   width: 0px;
}

.footer-container {
    display: flexbox;
    text-align: right;
    margin: 82px 105px 29px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}