<footer class="footer-wrapper">
    <div class="footer footer-container">
        <h2 class="footer__title">- get in touch with us -</h2>
        <p class="footer__text">
            Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper
            odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
        </p>
        <span class="footer__icons icon">
            <a class="icon__item icon-item">
                <img src="./dist/img/rss-icon.png" alt="rss-icon" width="10" height="10"
                    class="icon-item__inner icon-item__1" />
                <svg class="icon-item__circle" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="32" height="32" rx="16" fill="black" fill-opacity="0.01" stroke="#F8902E"
                        stroke-width="2" />
                </svg>
            </a>
            <a class="icon__item icon-item">
                <img src="./dist/img/facebook-icon.png" alt="facebook-icon" width="6" height="12"
                    class="icon-item__inner icon-item__2" />
                <svg class="icon-item__circle" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="32" height="32" rx="16" fill="black" fill-opacity="0.01" stroke="#39599F"
                        stroke-width="2" />
                </svg>
            </a>
            <a class="icon__item icon-item">
                <img src="./dist/img/twitter-icon.png" alt="twitter-icon" width="9" height="12"
                    class="icon-item__inner icon-item__3" />
                <svg class="icon-item__circle" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="32" height="32" rx="16" fill="black" fill-opacity="0.01" stroke="#45B0E3"
                        stroke-width="2" />
                </svg>
            </a>
            <a class="icon__item icon-item">
                <img src="./dist/img/dribbble-icon.png" alt="dribbble-icon" width="12" height="12"
                    class="icon-item__inner icon-item__4" />
                <svg class="icon-item__circle" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="32" height="32" rx="16" fill="black" fill-opacity="0.01" stroke="#D97AB0"
                        stroke-width="2" />
                </svg>
            </a>
            <a class="icon__item icon-item">
                <img src="./dist/img/pinterest-icon.png" alt="pinterest-icon" width="10" height="12"
                    class="icon-item__inner icon-item__5" />
                <svg class="icon-item__circle" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="32" height="32" rx="16" fill="black" fill-opacity="0.01" stroke="#CC212C"
                        stroke-width="2" />
                </svg>
            </a>
        </span>
        <span class="footer__contacts contacts">Moonshine St. 14-05 Light City /
            <a href="tel:+001234567890">
                T. +00 (123) 456 78 90 / 
            </a>
            <a href="mailto:first.last@email.com">
                first.last@email.com
            </a>
        </span>
    </div>
</footer>