<section class="instargam">
    <div class="container">
        <div class="instargam__title-wrapper inst">
            <h2 class="inst__title">
                - Latest Instagram Shots
            </h2>
            <span class="inst__text">
                go to our instagram page -
            </span>
        </div>
        <div class="instargam__img-wrapper inst-img">
            <picture class="inst-img__item">
                <source srcset="./dist/img/inst-post-1-s.webp" type="image/webp" media="(max-width:767px)">
                <source srcset="./dist/img/inst-post-1-m.webp" type="image/webp" media="(min-width:768px) and (max-width:1199px)">
                <source srcset="./dist/img/inst-post-1-l.webp" type="image/webp" media="(min-width:1200px)">
                <img src="./dist/img/inst-post-1-s.jpg" alt="Bicycle" 
                    srcset="320w, ./dist/img/inst-post-1-m.jpg 768w, ./dist/img/inst-post-1-l.jpg 1200w">
            </picture>
            <picture class="inst-img__item">
                <source srcset="./dist/img/inst-post-2-m.webp" type="image/webp" media="(min-width:768px) and (max-width:1199px)">
                <source srcset="./dist/img/inst-post-2-l.webp" type="image/webp" media="(min-width:1200px)">
                <img src="./dist/img/inst-post-2-m.jpg" alt="Open door" 
                    srcset="768w, ./dist/img/inst-post-2-l.jpg 1200w">
            </picture>
            <picture class="inst-img__item">
                <source srcset="./dist/img/inst-post-3-m.webp" type="image/webp" media="(min-width:768px) and (max-width:1199px)">
                <source srcset="./dist/img/inst-post-3-l.webp" type="image/webp" media="(min-width:1200px)">
                <img src="./dist/img/inst-post-3-m.jpg" alt="Wires" 
                    srcset="768w, ./dist/img/inst-post-3-l.jpg 1200w">
            </picture>
            <picture class="inst-img__item">
                <source srcset="./dist/img/inst-post-4-l.webp" type="image/webp" media="(min-width:1200px)">
                <img src="./dist/img/inst-post-4-l.jpg" alt="Car">
            </picture>
        </div>
    </div>
</section>