<section class="recent-posts container">
    <h2 class="recent-posts__title">- our Recent posts</h2>
    <div class="recent-posts__items post-items">
        <div class="post-items-wrapper">
            <picture class="post-items__img">
                <source srcset="./dist/img/post-img-1.webp" type="image/webp">
                <img src="./dist/img/post-img-1.jpg" alt="Kettle" width="160" height="140">
            </picture>
            <div class="post-items__content content">
                <h3 class="content__title">
                    Aenean Adipiscing Etiam Vestibulum
                </h3>
                <span class="content__content">
                    Photography, Journal / 9 Comments
                </span>
                <p class="content__text">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </p>
            </div>
        </div>
        <div class="post-items-wrapper">
            <picture class="post-items__img">
                <source srcset="./dist/img/post-img-2.webp" type="image/webp">
                <img src="./dist/img/post-img-2.jpg" alt="People in the rain" width="160" height="140">
            </picture>
            <div class="post-items__content content">
                <h3 class="content__title">
                    Aenean Adipiscing Etiam Vestibulum
                </h3>
                <span class="content__content">
                    Photography, Journal / 9 Comments
                </span>
                <p class="content__text">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </p>
            </div>
        </div>
        <div class="post-items-wrapper">
            <picture class="post-items__img">
                <source srcset="./dist/img/post-img-3.webp" type="image/webp">
                <img src="./dist/img/post-img-3.jpg" alt="Table in a cafe" width="160" height="140">
            </picture>
            <div class="post-items__content content">
                <h3 class="content__title">
                    Aenean Adipiscing Etiam Vestibulum
                </h3>
                <span class="content__content">
                    Photography, Journal / 9 Comments
                </span>
                <p class="content__text">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </p>
            </div>
        </div>
        <div class="post-items-wrapper">
            <picture class="post-items__img">
                <source srcset="./dist/img/post-img-4.webp" type="image/webp">
                <img src="./dist/img/post-img-4.jpg" alt="Roses" width="160" height="140">
            </picture>
            <div class="post-items__content content">
                <h3 class="content__title">
                    Aenean Adipiscing Etiam Vestibulum
                </h3>
                <span class="content__content">
                    Photography, Journal / 9 Comments
                </span>
                <p class="content__text">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </p>
            </div>
        </div>
    </div>
</section>