<div class="main-img container">
    <picture>
        <source srcset="../dist/img/intro-img-l.webp" type="image/webp" media="(min-width:1200px)">
        <source srcset="../dist/img/intro-img-m.webp" type="image/webp" media="(min-width:769px)">
        <source srcset="../dist/img/intro-img-s.webp" type="image/webp" media="(max-width:768px)">
        <img src="../dist/img/intro-img-s.jpg" alt="Railway line" width="100%" 
             srcset=" 320w, ../dist/img/intro-img-m.jpg 768w, ../dist/img/intro-img-l.jpg 1200w">
    </picture>
</div>