<section class="container">
    <h2 class="recent-posts-title">- our Recent posts</h2>
    <div class="recent-posts-items">
        <div class="recent-posts-items__wrapper">

        </div>
    </div>
</section>