*,
::after,
::before{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-container {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: url(../img/bg.jpg) center/cover no-repeat;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

/* HEADER START */

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 17px 0;
}

.logo {
    width: 180px;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.img {
    position: relative;
    padding: 0 8px 4px 0;
}

.logo__img {
    object-fit: contain;
    border: none;
}

.logo__text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 4px;
}

.logo__text_second-word {
    font-size: 18px;
    line-height: 18px;
}

.logo:hover .logo_hover__img {
    display: block;
}
.logo_hover__img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.logo:hover .logo__text {
    color: #F26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.contacts_hover:hover {
    color: #F26522;
}

/* HEADER END */

/* MAIN START */

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 260px);
    grid-auto-rows: auto;
    grid-gap: 37px 58px;
    grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.img-container {
    position: relative;
    overflow: hidden;
    height: 220px;
}

.card__img {
    object-fit: cover;
}

.card__text {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 20px 0 2px;
}

.card__box {
    position: absolute;
    bottom: -58.5px;
    left: 0;
    color: #FFFFFF;
    background-color: #F26522;
	width: 300px;
    font-size: 20px;
    line-height: 20px;
    transition: transform 0.5s;
}

.card__box__from {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding: 7px 0 8px 16px;
}

.card__box__main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 37px 12px 16px;
}

.card__box__details {
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.card__box__details::after {
    content: '';
    position: absolute;
    bottom: 4px;
    right: -16px;
    width: 7.1px;
    height: 7.1px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(45deg);
}

.card-wrapper:hover .card__box {
    display: block;
    transform: translateY(-58.5px);
}

.card-wrapper:hover .card__text {
    color: #F26522;
}

/* MAIN END */

/* FOOTER START */

.footer__text {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 49px 0 15px 0;
}

/* FOOTER END */


