.cart-fields-to-deliver {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "name name surname surname age age phone phone"
      "deladr deladr deladr deladr deladr deladr deladr deladr"
      "submit submit submit submit submit submit submit submit";
    grid-row-gap: 15px;
    border: 2px solid #918888;
    border-radius: 10px;
    background-color: rgb(228, 220, 220);
    padding: 10px 0;
}

.name {
    grid-area: name;
}
.surname {
    grid-area: surname;
}
.age {
    grid-area: age;
}
.phone {
    grid-area: phone;
}
.deladr {
    grid-area: deladr;
}
.submit {
    grid-area: submit;
}

.field {
    display: flex;
    justify-content: center;
}

.field label {
    display: flex;
    flex-direction: column;
}

.cart-errors {
    color: crimson;
    font-size: 11px;
    min-height: 16px;
}

.cart-input {
    width: 220px;
    min-height: 25px;
    border-radius: 3px;
    // font-weight: 600;
}

.cart-input.delivery {
    width: 700px;
}

.cart-checkout {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(177, 176, 245);
    cursor: pointer;
}