.Flower-wrapper {
    display: flex;
    padding: 0;
    align-items: flex-start;
}

.Flower {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e4dcdc;
    border: 2px solid rgb(145, 136, 136);
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    &--favorites{
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    
    &--priceAndCartWrapper {
        display: flex;
        justify-content: space-between;
    }
}

.Flower--price {
    font-size: 18px;
    font-weight: 700;
}

.Flower--addToCardBtn {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
    cursor: pointer;
}

.deleteFromCardBtn {
    display: none;
    font-size: x-large;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.favorites--title{
    font-weight: 700;
    padding-right: 30px;
}

.favorites--icon{
    cursor: pointer;
}