.listItemsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 214px);
    grid-gap: 50px 20px;
    justify-content: center;
}

h4 {
    margin: 0 auto;
    padding: 15px 0 10px;
}