.page__body {
    background-color: #000;
    margin: 0;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300%;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(250px) rotateX(20deg);
}

.box {
    padding: 0 10%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;

    animation: anim linear 30s infinite;
}

.box__text {
    margin: 35px auto;
    text-align: center;
    font-family: 'Barlow', Arial, sans-serif;
    font-size: 4em;
    color: darkgoldenrod;
}

.paragraph {
    text-align: left;
}
.paragraph:last-child {
    text-align: justify;
}

@keyframes anim {
    from {
        top: 95%;
    }
    
    to {
        top: 0;
    }
}