*,
::after,
::before{
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Roboto;
}

/* HEADER BEGIN */
.header-container {
    height: 189px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo {
    width: 334px;
    font-size: 80px;
    line-height: 94px;
    
    color: #000000;
}

.logochangecolor {
    color: rgb(75,202,255)
}

.header__nav {
    height: 69px;
    background: #35444F;
  }

.header__menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0 40px;
  }

.header__menu__item {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 0 39px;
    border-left: 1px solid #FFFFFF;
  }

.header__menu__item:last-child {
    padding-right: 0;
  }

.header__hover:hover {
    background: #222F3A;
  }
  /* HEADER END */

  /* MAIN BEGIN */
.main-container {
    display: flex;
    justify-content: center;
    margin: 50px 0 18px;
  }

.section-container {
    max-width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
  }

.img-container {
    display: flex;
    place-content: center;
    padding: 74px 282.5px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.scale-img {
  transition: transform 2s;
}

.scale-img:hover {
  transform: scale(1.2, 1.2);
}

.text-margin {
  margin: 36px 0;
}

.aside-container {
    width: 334px;
    margin-right: 61px;
    align-self: flex-start;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
  }

.aside__menu__item {
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 80px;
    /* font-family: Roboto; */
    font-size: 27px;
    line-height: 27px;
    color: #495863;
  }

.aside__hover:hover {
    background: #DBDBDB;
    color: #35444F;
    padding-left: 71px;
  }
  /* MAIN END */

  /* FOOTER BEGIN */
  .footer-container {
    height: 69px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    background: rgba(99, 105, 110, 0.48);
    /* border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); */
    /* border: 3px dotted red; */
}
  
  .footer__nav {
    font-size: 28px;
    line-height: 28px;
    padding-left: 20px;
    color: #0C1927;
  }

  .footer__menu {
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
  }

  .footer__menu__item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
  }

  .footer__hover:hover {
    color:#3181A6;
    border-bottom: 1px solid #3181A6;
  }

  .copyright {
    display: flex;
    align-items: center;  
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;  
    color: #010101;
  }
  /* FOOTER END */