
*,
::after,
::before{
    box-sizing: border-box;
}

.body-wrapper {
    margin: 0;
    background-color: khaki;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}

.tab {
    padding: 10px 20px;
    display: none;
}

.tab.active {
    display: block;
}