*,
::after,
::before{
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-container {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.inner-container {
    width: 1170px;
    margin: 0 auto;
    /* justify-content: center; */
}

/* HEADER START */

.logo {
    width: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.img {
    padding: 21.5px 27px;
    display: flex;
    place-content: center;
}

.logo__img {
    object-fit: contain;
	background: rgba(0, 0, 0, 0.0001);
    border: none;
}

.logo__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
  }

.header__menu {
    display: flex;
    place-content: center;
  }

.header__menu__item {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 28px 17.5px 26px;
    /* border: 1px solid #FFFFFF; */
  }

.header__menu__item:hover {
    color: #14B9D5;
  }

.search {
    padding: 27px 25px 26px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.search__img,
.post__img,
.footer__img {
    object-fit: contain;
    border: none;
}

.latest-news {
    background: #000000;
    background-image: url(../img/header-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.latest-news-title {
    margin: 0 auto;
    padding: 164px 0 44px 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 74px; 
}

.button_1 {
    display: inline-block;
    place-content: center;
    background: #89CA62;
    border-radius: 4px;
    padding: 16.5px 19px;
    margin-right: 20px;
}

.button_text {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.button_2 {
    display: inline-block;
    place-content: center;
    background: #14B9D5;
    border-radius: 4px;
    padding: 16.5px 29.5px;
    /* margin-right: 20px; */
}

/* HEADER END */

/* MAIN START */

.posts-container {
    background: #F2F2F2;
}

.section__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding: 49px 0 52px;
    margin: 0 auto;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 900px;
}

.posts__item {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: center;
    margin: 0 15px 32px 15px;
} 

.post__header {
    height: 61px;
    width: 370px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post__title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}

.parallax {
    background-color: #F2F2F2;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 106px;
    margin: 0;
}

.parallax-title::after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 87px auto 106px;
	background-color: #18B4CF;
}

.wrapper-brands {
    display: grid;
    justify-content: center;
    padding-bottom: 191px;
}

.brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.latest-post-title,
.hot-news-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 0;
}

.latest-post-title--padding {
    padding: 49px 0 52px;
}

.hot-news-title--padding {
    padding: 48px 0 51px;
}

.latest-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
}

/* .latest-post__item {
    display: flex;
    justify-content: center;
} */

.latest-post__img {
    width: 100%;
    /* object-fit: contain; */
    border: none;
}

.posts-line1-wrapper {
    display: grid;
    grid-template-columns: 856px 1fr;
    grid-column-gap: 35px;
}

.post1,
.post8 {
    display: grid;
    grid-template-columns: 483px 1fr;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post1__description__header,
.post8__description__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #353A3D;
    padding: 41px 24px 14.5px;
    margin: 0;
}

.post1__description__text,
.post8__description__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #5B6469;
    padding: 0 24px 40.5px 0;
    margin: 0;
}

.post2,
.post7 {
    display: grid;
    grid-template-rows: 210px 1fr;
    /* background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03); */
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.post2__description__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding: 14px 0 11px;
    margin: 0 auto;
}

.posts-line2_3-wrapper {
    display: grid;
    margin: 42px 0 44px;
    grid-template-columns: repeat(auto-fit, minmax(554px, 1fr));
    grid-template-rows: minmax(418px, 1fr);
    grid-auto-rows: auto;
    grid-gap: 43px 60px;
    grid-template-areas:
    "post3 post4"
    "post5 post6";
}

.posts3-6 {
    display: grid;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.posts3-6__description__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin: 0;
    padding: 14px 27px 15px;
}

.posts3-6__description__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    margin: 0;
    padding: 0 14px 0 13px;
}

.post3 {
    grid-area: post3;
}

.post4 {
    grid-area: post4;
}

.post5 {
    grid-area: post5;
}

.post6 {
    grid-area: post6;
}

.posts-line3-wrapper {
    display: grid;
    grid-template-columns: 277px 1fr;
    grid-column-gap: 35px;
    margin-bottom: 71px;
}

.post7__description__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding: 5px 0 20px;
    margin: 0 auto;
}

#slide-toggle {
    margin: 20px auto;
    width: 250px;
    }
#slide-toggle a{
    padding: 15px 30px;
    background-color: rgba(15, 228, 103, 0.25);
    border-radius: 5px;
    display: block;
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;
    font-weight: 700;
    }
 
#slide-toggle a:hover{
    padding: 20px 40px;
    background-color: #d6e40f;
    transition: all linear 0.2s;
    color: #000;
    }

#back-to-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    z-index: 9999;
    }
#back-to-top a{
    padding: 15px 30px;
    background-color: rgba(223, 9, 9, 0.25);
    border-radius: 5px;
    display: none;
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;
    font-weight: 700;
    }
 
#back-to-top a:hover{
    padding: 20px 40px;
    background-color: #663399;
    transition: all linear 0.2s;
    color: #fff;
    }

/* MAIN END */

/* FOOTER START */
.wrapper-footer {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #000000;
}

.footer-text {
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    color: #FFFFFF;
    padding: 29px 0 30px 367px;
}

.footer-logo {
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-column-gap: 3px;
    text-align: right;
    justify-items: right;
    padding: 29px 359px 27px 0;
}

/* FOOTER END */
