
*,
::after,
::before{
    box-sizing: border-box;
}

body {
    margin: 0;
}

#price, .spanstyle {
    margin-top: 15px; 
    padding-left: 15px; 
    width: 200px; 
    height: 30px; 
    border: 1px solid black; 
    border-radius: 5px;
}

.created {
    text-align: center; 
    color: red; 
    border: 1px solid red; 
    width: 200px; 
    margin-left: 57px; 
    border-radius: 5px; 
    font-size: 10px; 
    padding: 3px 0;
}