ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.Header {
    display: flex;
    justify-content: space-between;
    // width: calc(100% - 40px);
    width: 100%;
    padding: 5px 20px;
    background-color: rgba(228,220,220, 0.7);
    position: fixed;
    top: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: #32275a;
        margin: 0 20px;
        &:hover{
            color:rgb(192, 18, 18);
            border-bottom: 1px solid rgb(192, 18, 18);
        }
    }
    .is-active {
        font-weight: 900;
        // font-size: 20px;
    }
}