
*,
::after,
::before{
    box-sizing: border-box;
}

.body-wrapper {
    margin: 0;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
    margin: 3% auto;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons {
    text-align: center;
    padding: 20px 0;
}

.button {
    width: 150px;
    padding: 5px 0;
}
